 #content {
	text-align: center;
	padding-top: 15%;
  padding-bottom: 10px;
}
.bg {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
/*Opaque background*/
.bg::after {
  content: "";
  background: url("images/CircuitBoard.jpg");
  opacity: 0.15;
 
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
/*---------CSS for Info page---------------*/

/*body {
  padding-top: 70px;
  /*border:1px solid blue;*/
}*/

.jumbotron {
  color: #2c3e50;
  /*color: blue;*/
}


.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: rgba(94, 155, 255, 1);
}




/*body, html {
  height: 100%;
  background-image: url("images/CircuitBoard.jpg")
  background-image: url("images/transparent.png")
  background-repeat: no-repeat;
}


